@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


body{
    height: 100vh;
    background-color: var(--background-color);
    font-size: 16px;
    font-family: "Figtree", sans-serif;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    /* Tirei o height no final do codigo pois o height se adequa ao tamonho do conteudo (card) */
    width: 420px;
    background-color: var(--backgound-card-color);
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 0px black;
}



img.first-img{
    width: 100%;
    border-radius: 20px;
    align-items: center;
}

button{
    border: none;
    cursor: pointer;
    display: inline-block;
    background-color: var(--background-color);
    margin: 15px 0;
    padding: 5px 15px;
    font-weight: 800;
    border-radius: 5px;
}

p{
    margin-bottom: 20px;
}

h1{
    margin-bottom: 20px;
}

.profile-info{
    display: flex;
    align-items: center;
}

.profile-info span{
    margin-left: 10px;
    font-weight: 800;
    height: 100%;
}

